/*
 *                                 //  //  //            //        //  //   
 *  //      //      //    //////  //  //        //////  //////              
 * //      //      //  //    //  //  //  //  //        //    //  //  //     
 *  //  //  //  //    //    //  //  //  //  //        //    //  //  //      
 *   //      //        //////  //  //  //    //////  //    //  //  //       
 *
 * license: Unlicense <https://unlicense.org/>
 * licenseHolder: Wallichii <wallichii@riseup.net>
 * adapted from a css by @mdo <https://github.com/mdo>
 */

html {
	font-family: "Courier New", Courier, monospace;
	font-size: 18px;
	line-height: 1.5;
}

html,
body {
	margin: 0;
	padding: 0;
}

body {
	background-color: #073642;
	color: #93a1a1;
}

a {
	color: #268bd2;
}
a:visited {
	color: #6c71c4;
}

#four04 {
	text-align: center;
}
h1, h2, h3, h4, h5, h6 {
	margin-bottom: .5rem;
	font-weight: bold;
	line-height: 1.25;
	color: #93a1a1;
}
h1 {
	font-size: 2rem;
}
h2 {
	margin-top: 1rem;
	font-size: 1.5rem;
}
h3 {
	margin-top: 1.5rem;
	font-size: 1.25rem;
}
h4, h5, h6 {
	margin-top: 1rem;
	font-size: 1rem;
}

p {
	margin-top: 0;
	margin-bottom: 1rem;
}

ul, ol, dl {
	margin-top: 0;
	margin-bottom: 1rem;
}

hr {
	background-color: #93a1a1;
	max-width: 90%;
}

code {
	padding: .25em .5em;
	font-size: 85%;
	background-color: #073642;
	color: #93a1a1;
	border-radius: 3px;
}
pre {
	display: block;
	margin-top: 0;
	margin-bottom: 1rem;
	padding: 1rem;
	font-size: .8rem;
	line-height: 1.4;
	white-space: pre;
	white-space: pre-wrap;
	word-break: break-all;
	word-wrap: break-word;
	background-color: #073642;
	color: #93a1a1;
}
pre code {
	padding: 0;
	font-size: 100%;
	color: inherit;
	background-color: transparent;
}

blockquote {
	padding: .5rem 1rem;
	margin: .8rem 0;
	color: #93a1a1;
	border-left: .25rem solid #93a1a1;
}
@media (min-width: 30em) {
	blockquote {
		padding-right: 5rem;
		padding-left: 1.25rem;
	}
}

img {
	display: block;
	margin: auto;
	border-radius: 5px;
	max-width: 100%;
}

table {
	margin-bottom: 1rem;
	width: 100%;
	border: 1px solid #93a1a1;
	border-collapse: collapse;
}
td,
th {
	padding: .25rem .5rem;
	border: 1px solid #93a1a1;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
	background-color: #073642;
}

.wrap {
	max-width: 80ch;
}
.container, footer, .sidebar {
	color: #839496;
	background-color: #002b36;
	padding: 1rem;
	margin: 1rem;
}
footer, .sidebar {
	text-align: center;
}

@media (min-width: 48em) {
	.sidebar {
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		width: 14rem;
		text-align: left;
	}
	.sidebar-bottom {
		position: absolute;
		right:  1rem;
		bottom: 1rem;
		left:   1rem;
	}
	.wrap {
		margin-left: 17rem;
	}
}
@media (min-width: 64em) {
	html {
		font-size: 20px;
	}
}

#small-text {
	font-size: small;
}
